<div class="container">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/seguridad/listarU"> <i class="bi bi-people"></i>Listar Usuariuios</button>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/prestamo">Prestamos</button>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/gestion_libros">Registar Libro</button>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/estado_prestamo">Estado de Prestamos</button>
</div>