<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>REGISTRO DE USUARIO</h1>
						</div>
						<form>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Nombres</span>
										<input class="form-control" type="text" placeholder="Nombres del usuario" required>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Cedula</span>
										<input class="form-control" type="text" placeholder="Cedula del usuario" required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="form-label">Córreo electronico</span>
								<input class="form-control" type="email" placeholder="Ingrese un córreo valido" required>
							</div>
							<div class="form-group">
								<span class="form-label">Número de cóntacto</span>
								<input class="form-control" type="text" placeholder="Ingrese un número de célular valido" required>
							</div>
							<div class="form-group">
								<span class="form-label">Dirección</span>
								<input class="form-control" type="number" placeholder="N° Pag." required>
							</div>
							
							
									<div class="form-group">
										<span class="form-label">Fecha de registro</span>
										<input class="form-control" type="date" required>
									</div>
								
								
							
							<div class="form-btn">
								<button class="submit-btn" routerLink="/">Guardar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

