

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>REGISTRO DE LIBRO</h1>
						</div>
						<form [formGroup]="reglibro" (ngSubmit)="agregar()">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">ISBN del libro</span>
										<input class="form-control" name="isbn" id="isbn" type="text" placeholder="ID del libro" required
										formControlName="isbn">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Tipo</span>
										<input class="form-control" name="tipo" id="tipo" type="text" placeholder="Fisico o dígital" required
										formControlName="tipo">
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="form-label">Título del libro</span>
								<input class="form-control" name="tit" id="tit" type="text" placeholder="Ingrese el título del libro" required
								formControlName="tit">
							</div>
							<div class="form-group">
								<span class="form-label">Autor</span>
								<input class="form-control" name="autor" id="autor" type="text" placeholder="Ingrese el nombre del autor" required
								formControlName="autor">
							</div>
							<div class="form-group">
								<span class="form-label">Número de páginas</span>
								<input class="form-control" name="num" id="num" type="number" placeholder="N° Pag." required
								formControlName="num">
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="form-group">
										<span class="form-label">Fecha de préstamo</span>
										<input class="form-control" name="fech" id="fech" type="date" required
										formControlName="fech">
									</div>
								</div>
								<div class="col-sm-7">
									<div class="row">
										<div class="col-sm-4">
											<div class="form-group">
												<span class="form-label">Hora</span>
												<select class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
													<option>11</option>
													<option>12</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<span class="form-label">Min</span>
												<select class="form-control">
													<option>05</option>
													<option>10</option>
													<option>15</option>
													<option>20</option>
													<option>25</option>
													<option>30</option>
													<option>35</option>
													<option>40</option>
													<option>45</option>
													<option>50</option>
													<option>55</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<span class="form-label">AM/PM</span>
												<select class="form-control">
													<option>AM</option>
													<option>PM</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-btn">
								<button class="submit-btn" type="submit" routerlink="/seguridad/listarU">Guardar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

